@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0B0916;
    --primary: #CFECEE;
    --secondary: #349C84;
    --color3: #B0A672;
    --color4: #9A8C98;
  }

  body {
    @apply text-white;
  }
}