@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  :root {
    --background: #0B0916;
    --background-100: #121023;
    --background-200: #1a172d;
    --background-300: #26213d;
    --primary: #DCDCDD;
    --secondary: #A31621;
    --secondary-100: #a4242f;
    --color3: #FF8C42;
    --color3-100: #f79c63;
    --color3-200: #f9975a;
    --color4: #22c55e;
    --color5: #3b82f6;
  }

  body {
    @apply text-white;
  }

  * {
    @apply m-0 p-0 box-border;
  }
}

.flex-centralized {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.flex-between-column {
  @apply flex flex-col items-center justify-between;
}

.flex-centralized-column {
  @apply flex flex-col items-center justify-center;
}

.absolute-centralized {
  @apply absolute inset-0 m-auto;
}

.absolute-right {
  @apply absolute inset-y-0 right-4 m-auto;
}